 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,700&display=swap');

 *{
    margin: 0;
    padding: 0;
 }

 body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: azure;
 }

 a {
    text-decoration: none;
 }

 img {
    max-width: 100%;
 }

 .wrapper {
    background:linear-gradient(90deg,rgba(10, 11, 13, 1) 8%, rgba(5, 3, 41, 1) 78%);
    width: 100%;
 }

 .container {
    width: 1300px;
    margin: 0 auto;
 }

 header {
    padding: 50px 0;
 }

 header .logo {
    text-transform: uppercase;
    font-size: 120;
    font-weight: 800;
 }

 header nav {
    float: right;
    width: 40%;
 }

 header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
 }

 header nav ul li {
    display: inline-block;
 }

 header nav ul li a {
    color: beige;
 }

 
