@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,700&display=swap');

 *{
    margin: 0;
    padding: 0;
 }

 html, body {
    margin: 0;
    padding: 0;
 }

 body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: azure;
 }

 a {
    text-decoration: none;
 }

 img {
    max-width: 120%;
 }

 .wrapper {
    background:linear-gradient(90deg,rgba(10, 11, 13, 1) 8%, rgba(5, 3, 41, 1) 78%);
    width: 100%;
    min-height: 100vh;
 }

 .container {
    width: 1300px;
    margin: 0 auto;
 }

 header {
    padding: 50px 0;
 }

 header .logo {
    text-transform: uppercase;
    font-size:40px;
    font-weight: 800;
 }

 header nav {
    float: right;
    width: 40%;
 }

 header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
 }

 header nav ul li {
    display: inline-block;
    font-size: 23px;
    margin-right: 12px;
    font-weight: 800;

 }

 header nav ul li a {
    color: beige;
    position: relative;
    z-index: 10;
 }

 .hero img {
  margin-top: 12px; 
}

header nav ul li:not(.active) a:hover {
    border-bottom: 5px solid #D17338;
 }

 .hero {
    padding-bottom: 80px;
    position: relative;
 }

 .hero--info {
    width: 600px;
    padding-top: 70px;
 }
    
    .hero--info h2 {
        font-size: 27px;
        font-weight: 600;
    }

    .hero--info h1 {
        font-size: 27px;
        font-weight: 500;
    }

.hero--info p {
        line-height: 170%;
        font-weight: 500;
        margin: 30px;
    }

.hero img {
  position: absolute;
    top : -150px;
    right : 0px;
    padding-top: 200px;
}
